/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html,
body {
  height: 100vh;
  margin: 0px;
}

.font-primary {
  color: #845ec2 !important;
}

.btn-theme {
  color: #a8eb12;
  background-color: #845ec2;
  border-color: #794cc4;
}

.btn-theme:hover {
  color: #fef9ff;
}

.w400 {
  width: 400px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-5 {
  padding: 5px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-40 {
  padding-right: 40px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.site-background {
  background-color: #fef9ff;
}

.default-font {
  font-family: "Orbitron", sans-serif;
  font-weight: normal;
  font-style: normal;
}
